BASE_MAINNET_RPC=
BASESCAN_API_KEY=
DEPLOYER_PK=
AGENT_PK=
AGENT_WALLET=
JANUS_REGISTRY_ADDR=
REDIS_URL=
PORT_API=
POLYGON_RPC=
ETH_MAINNET_RPC=
OPTIMISM_RPC=
ARBITRUM_RPC=
EAS_SCHEMA_UID_IDENTITY=
EAS_SCHEMA_UID_LINK=
NEYNAR_API_KEY=
ETHOS_API_KEY=
TALENT_API_KEY=
GITHUB_TOKEN=
